<?xml version="1.0" encoding="utf-8"?> <!-- NOSONAR -->
<manifest <!-- NOSONAR -->
    xmlns:android="http://schemas.android.com/apk/res/android" <!-- NOSONAR -->
    package="com.simplecity.amp_library"> <!-- NOSONAR -->

    <uses-permission <!-- NOSONAR -->
        android:name="com.android.vending.BILLING" /> <!-- NOSONAR -->

</manifest> <!-- NOSONAR -->