<?xml version="1.0" encoding="utf-8"?> <!-- NOSONAR -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" <!-- NOSONAR -->
    package="com.simplecity.amp_library"> <!-- NOSONAR -->

    <!-- ## 'Protection-Normal' permissions ## --> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.BLUETOOTH"/> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- NOSONAR -->
    <!-- ## End 'Protection-Normal' permissions ## --> <!-- NOSONAR -->

    <!-- ## 'Special' permissions ##--> <!-- NOSONAR -->
    <!-- Used to set ringtone--> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/> <!-- NOSONAR -->
    <!-- Used to read mediastore db, caching artwork etc. --> <!-- NOSONAR -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- NOSONAR -->
    <!-- ## End 'Special' permissions ##--> <!-- NOSONAR -->

    <application <!-- NOSONAR -->
        android:name=".ShuttleApplication" <!-- NOSONAR -->
        android:allowBackup="true" <!-- NOSONAR -->
        android:allowTaskReparenting="true" <!-- NOSONAR -->
        android:hardwareAccelerated="true" <!-- NOSONAR -->
        android:icon="@mipmap/ic_launcher" <!-- NOSONAR -->
        android:label="@string/app_name" <!-- NOSONAR -->
        android:largeHeap="true" <!-- NOSONAR -->
        android:roundIcon="@mipmap/ic_launcher_round" <!-- NOSONAR -->
        android:theme="@style/AppTheme"> <!-- NOSONAR -->

        <meta-data <!-- NOSONAR -->
            android:name="android.max_aspect" <!-- NOSONAR -->
            android:value="2.1"/> <!-- NOSONAR -->

        <meta-data <!-- NOSONAR -->
            android:name="com.simplecity.amp_library.glide.utils.CustomGlideModule" <!-- NOSONAR -->
            android:value="GlideModule"/> <!-- NOSONAR -->

        <meta-data <!-- NOSONAR -->
            android:name="com.google.android.gms.version" <!-- NOSONAR -->
            android:value="@integer/google_play_services_version"/> <!-- NOSONAR -->
        <meta-data <!-- NOSONAR -->
            android:name="android.app.default_searchable" <!-- NOSONAR -->
            android:value="com.simplecity.amp_library.SearchActivity"/> <!-- NOSONAR -->

        <activity <!-- NOSONAR -->
            android:name=".ui.screens.main.MainActivity" <!-- NOSONAR -->
            android:exported="true" <!-- NOSONAR -->
            android:label="@string/app_name" <!-- NOSONAR -->
            android:launchMode="singleInstance" <!-- NOSONAR -->
            android:windowSoftInputMode="adjustPan"> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.intent.action.SEARCH"/> <!-- NOSONAR -->
                <action android:name="android.intent.action.MEDIA_SEARCH"/> <!-- NOSONAR -->

                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="android.app.searchable" <!-- NOSONAR -->
                android:resource="@xml/searchable"/> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="android.app.shortcuts" <!-- NOSONAR -->
                android:resource="@xml/shortcuts"/> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.intent.action.MAIN"/> <!-- NOSONAR -->
                <action android:name="android.intent.action.MUSIC_PLAYER"/> <!-- NOSONAR -->

                <category android:name="android.intent.category.LAUNCHER"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.APP_MUSIC"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="com.simplecity.amp_library.update"/> <!-- NOSONAR -->
                <action android:name="com.simplecity.amp_library.updateplaybutton"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.intent.action.VIEW"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->

                <data android:scheme="content"/> <!-- NOSONAR -->
                <data android:mimeType="audio/*"/> <!-- NOSONAR -->
                <data android:mimeType="application/ogg"/> <!-- NOSONAR -->
                <data android:mimeType="application/x-ogg"/> <!-- NOSONAR -->
                <data android:mimeType="application/itunes"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.intent.action.VIEW"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->

                <data android:scheme="file"/> <!-- NOSONAR -->
                <data android:mimeType="audio/*"/> <!-- NOSONAR -->
                <data android:mimeType="application/ogg"/> <!-- NOSONAR -->
                <data android:mimeType="application/x-ogg"/> <!-- NOSONAR -->
                <data android:mimeType="application/itunes"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.intent.action.VIEW"/> <!-- NOSONAR -->

                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.BROWSABLE"/> <!-- NOSONAR -->

                <data android:scheme="http"/> <!-- NOSONAR -->
                <data android:mimeType="audio/*"/> <!-- NOSONAR -->
                <data android:mimeType="application/ogg"/> <!-- NOSONAR -->
                <data android:mimeType="application/x-ogg"/> <!-- NOSONAR -->
                <data android:mimeType="application/itunes"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="${applicationId}.PLAYBACK_VIEWER"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.intent.action.VIEW"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->
                <data android:mimeType="vnd.android.cursor.dir/playlist"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->
        <activity <!-- NOSONAR -->
            android:name=".ui.screens.search.voice.VoiceSearchActivity" <!-- NOSONAR -->
            android:excludeFromRecents="true" <!-- NOSONAR -->
            android:exported="true" <!-- NOSONAR -->
            android:theme="@style/TranslucentTheme"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/> <!-- NOSONAR -->
                <category android:name="android.intent.category.DEFAULT"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->

        <activity <!-- NOSONAR -->
            android:name=".ui.screens.shortcut.ShortcutTrampolineActivity" <!-- NOSONAR -->
            android:excludeFromRecents="true" <!-- NOSONAR -->
            android:exported="true" <!-- NOSONAR -->
            android:theme="@style/TranslucentTheme"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="com.simplecity.amp_library.shortcuts.SHUFFLE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->

        <service <!-- NOSONAR -->
            android:name=".playback.MusicService" <!-- NOSONAR -->
            android:exported="true" <!-- NOSONAR -->
            android:label="@string/app_name"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.media.browse.MediaBrowserService"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

        </service> <!-- NOSONAR -->
        <service <!-- NOSONAR -->
            android:name=".services.DashClockService" <!-- NOSONAR -->
            android:icon="@drawable/ic_headphones_white" <!-- NOSONAR -->
            android:label="@string/app_name" <!-- NOSONAR -->
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="com.google.android.apps.dashclock.Extension"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="protocolVersion" <!-- NOSONAR -->
                android:value="1"/> <!-- NOSONAR -->
            <meta-data <!-- NOSONAR -->
                android:name="description" <!-- NOSONAR -->
                android:value="@string/extension_description"/> <!-- NOSONAR -->
        </service> <!-- NOSONAR -->

        <service <!-- NOSONAR -->
            android:name=".services.ArtworkDownloadService" <!-- NOSONAR -->
            android:label="@string/download_service"/> <!-- NOSONAR -->

        <receiver android:name="com.simplecity.amp_library.utils.MediaButtonIntentReceiver"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action <!-- NOSONAR -->
                    android:name="android.intent.action.MEDIA_BUTTON" <!-- NOSONAR -->
                    android:priority="999"/> <!-- NOSONAR -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/> <!-- NOSONAR -->
                <action <!-- NOSONAR -->
                    android:name="android.intent.action.HEADSET_PLUG" <!-- NOSONAR -->
                    android:priority="999"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </receiver> <!-- NOSONAR -->

        <!-- Config Activity for medium Widget --> <!-- NOSONAR -->
        <activity <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetConfigureActivityMedium" <!-- NOSONAR -->
            android:theme="@style/WallpaperTheme"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->

        <!-- Config Activity for extra large Widget --> <!-- NOSONAR -->
        <activity <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetConfigureActivityExtraLarge" <!-- NOSONAR -->
            android:theme="@style/WallpaperTheme"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->

        <!-- Broadcast Receiver for medium Widget --> <!-- NOSONAR -->
        <receiver <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetProviderMedium" <!-- NOSONAR -->
            android:label="Shuttle 4x1"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="android.appwidget.provider" <!-- NOSONAR -->
                android:resource="@xml/widget_provider_medium"/> <!-- NOSONAR -->
        </receiver> <!-- NOSONAR -->

        <!-- Config Activity for small Widget --> <!-- NOSONAR -->
        <activity <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetConfigureActivitySmall" <!-- NOSONAR -->
            android:theme="@style/WallpaperTheme"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->

        <!-- Broadcast Receiver for small Widget --> <!-- NOSONAR -->
        <receiver <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetProviderSmall" <!-- NOSONAR -->
            android:label="Shuttle 2x1"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="android.appwidget.provider" <!-- NOSONAR -->
                android:resource="@xml/widget_provider_small"/> <!-- NOSONAR -->
        </receiver> <!-- NOSONAR -->

        <!-- Config Activity for large Widget --> <!-- NOSONAR -->
        <activity <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetConfigureActivityLarge" <!-- NOSONAR -->
            android:theme="@style/WallpaperTheme"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->
        </activity> <!-- NOSONAR -->

        <activity <!-- NOSONAR -->
            android:name=".ui.screens.qcircle.QCircleActivity" <!-- NOSONAR -->
            android:configChanges="orientation|keyboardHidden|screenSize" <!-- NOSONAR -->
            android:excludeFromRecents="true" <!-- NOSONAR -->
            android:icon="@mipmap/ic_launcher" <!-- NOSONAR -->
            android:label="@string/app_name" <!-- NOSONAR -->
            android:screenOrientation="portrait" <!-- NOSONAR -->
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"> <!-- NOSONAR -->

            <intent-filter> <!-- NOSONAR -->
                <action android:name="com.lge.quickcover"/> <!-- NOSONAR -->
                <action android:name="android.intent.action.MAIN"/> <!-- NOSONAR -->

            </intent-filter> <!-- NOSONAR -->

        </activity> <!-- NOSONAR -->

        <!-- Broadcast Receiver for large Widget --> <!-- NOSONAR -->
        <receiver <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetProviderLarge" <!-- NOSONAR -->
            android:label="Shuttle 4x2"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="android.appwidget.provider" <!-- NOSONAR -->
                android:resource="@xml/widget_provider_large"/> <!-- NOSONAR -->
        </receiver> <!-- NOSONAR -->

        <!-- Broadcast Receiver for extra large Widget --> <!-- NOSONAR -->
        <receiver <!-- NOSONAR -->
            android:name=".ui.widgets.WidgetProviderExtraLarge" <!-- NOSONAR -->
            android:label="Shuttle 4x4"> <!-- NOSONAR -->
            <intent-filter> <!-- NOSONAR -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> <!-- NOSONAR -->
            </intent-filter> <!-- NOSONAR -->

            <meta-data <!-- NOSONAR -->
                android:name="android.appwidget.provider" <!-- NOSONAR -->
                android:resource="@xml/widget_provider_extra_large"/> <!-- NOSONAR -->
        </receiver> <!-- NOSONAR -->

        <provider <!-- NOSONAR -->
            android:name=".sql.providers.CustomArtworkContentProvider" <!-- NOSONAR -->
            android:authorities="${applicationId}.custom_artwork.contentprovider" <!-- NOSONAR -->
            android:exported="false"/> <!-- NOSONAR -->

        <provider <!-- NOSONAR -->
            android:name=".sql.providers.PlayCountContentProvider" <!-- NOSONAR -->
            android:authorities="${applicationId}.play_count.contentprovider" <!-- NOSONAR -->
            android:exported="false"/> <!-- NOSONAR -->

        <provider <!-- NOSONAR -->
            android:name="android.support.v4.content.FileProvider" <!-- NOSONAR -->
            android:authorities="${applicationId}.provider" <!-- NOSONAR -->
            android:exported="false" <!-- NOSONAR -->
            android:grantUriPermissions="true"> <!-- NOSONAR -->
            <meta-data <!-- NOSONAR -->
                android:name="android.support.FILE_PROVIDER_PATHS" <!-- NOSONAR -->
                android:resource="@xml/provider_paths"/> <!-- NOSONAR -->
        </provider> <!-- NOSONAR -->

        <meta-data <!-- NOSONAR -->
            android:name="io.fabric.ApiKey" <!-- NOSONAR -->
            android:value="${CRASHLYTICS_API_KEY}"/> <!-- NOSONAR -->

        <!-- Android Auto --> <!-- NOSONAR -->
        <meta-data <!-- NOSONAR -->
            android:name="com.google.android.gms.car.application" <!-- NOSONAR -->
            android:resource="@xml/automotive_app_desc"/> <!-- NOSONAR -->

        <meta-data <!-- NOSONAR -->
            android:name="com.google.android.gms.car.notification.SmallIcon" <!-- NOSONAR -->
            android:resource="@drawable/ic_stat_notification"/> <!-- NOSONAR -->
        <meta-data <!-- NOSONAR -->
            android:name="com.google.android.gms.car.application.theme" <!-- NOSONAR -->
            android:resource="@style/CarTheme" /> <!-- NOSONAR -->

        <!-- ChromeCast --> <!-- NOSONAR -->
        <meta-data <!-- NOSONAR -->
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" <!-- NOSONAR -->
            android:value="com.simplecity.amp_library.cast.CastOptionsProvider" /> <!-- NOSONAR -->
    </application> <!-- NOSONAR -->
</manifest> <!-- NOSONAR -->