* { /* NOSONAR */
	font-family: 'Helvetica', sans-serif; /* NOSONAR */
	color: #ffffff; /* NOSONAR */
} /* NOSONAR */

body /* NOSONAR */
{ /* NOSONAR */
 	padding-top: 0px; /* NOSONAR */
    padding-right: 16px; /* NOSONAR */
    padding-bottom: 0px; /* NOSONAR */
    padding-left: 16px; /* NOSONAR */
    margin: 0; /* NOSONAR */
	background-color: transparent; /* NOSONAR */
	line-height: 1.6em; /* NOSONAR */
} /* NOSONAR */

pre { /* NOSONAR */
	width: 100%; /* NOSONAR */
	padding: 16px; /* NOSONAR */
    overflow: auto; /* NOSONAR */
    font-size: 85%; /* NOSONAR */
	line-height: 1.45; /* NOSONAR */
	background-color: #202020; /* NOSONAR */
	border-radius: 3px; /* NOSONAR */
} /* NOSONAR */

a:link {color: #B0D1F1; text-decoration: underline; } /* NOSONAR */
a:active {color: #ffffff; text-decoration: underline; } /* NOSONAR */
a:visited {color: #4575A5; text-decoration: underline; } /* NOSONAR */
a:hover {color: #6198BF; text-decoration: none; } /* NOSONAR */

