* { /* NOSONAR */
	font-family: 'Helvetica', sans-serif; /* NOSONAR */
	color: #333333; /* NOSONAR */
} /* NOSONAR */

body /* NOSONAR */
{ /* NOSONAR */
 	padding-top: 0px; /* NOSONAR */
    padding-right: 16px; /* NOSONAR */
    padding-bottom: 0px; /* NOSONAR */
    padding-left: 16px; /* NOSONAR */
    margin: 0; /* NOSONAR */
	background-color: transparent; /* NOSONAR */
	line-height: 1.6em; /* NOSONAR */
} /* NOSONAR */

pre { /* NOSONAR */
	width: 100%; /* NOSONAR */
	padding: 16px; /* NOSONAR */
    overflow: auto; /* NOSONAR */
    font-size: 85%; /* NOSONAR */
	line-height: 1.45; /* NOSONAR */
	background-color: #f1f1f1; /* NOSONAR */
	border-radius: 3px; /* NOSONAR */
} /* NOSONAR */